:root {
  --color-gray50: #fafafa;
  --color-gray100: #f5f5f5;

  --color-gray200: #eeeeee;

  --color-gray300: #e0e0e0;

  --color-gray400: #bdbdbd;
  --color-gray500: #9e9e9e;
  --color-gray600: #757575;

  --color-gray700: #616161;

  --color-gray800: #424242;
  --color-gray900: #212121;

  --color-black: #000000;
  --color-White: #ffffff;

  --color-red50: #ffebee;
  --color-red100: #ffcdd2;
  --color-red400: #ef5350;
  --color-red700: #d32f2f;

  --color-green400: #66bb6a;
  --color-greenA400: #00e676;
  --color-orange400: #ffa726;
}

/* semantic color variables for this project */
:root {
  /* General */
  --color-background: var(--color-gray50);
  --color-background-soft: var(--color-gray100);
  --color-background-mute: var(--color-gray300);
  --color-background-model-chat: var(--color-gray300);
  --color-background-user-chat: var(--color-gray400);
  --color-background-message-user: var(--color-gray700);

  --color-background-message-model: var(--color-White);

  --color-border: var(--color-gray300);
  --color-divider: var(--color-gray300);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-text: var(--color-gray900);
  --color-text-heading: var(--color-gray600);
  --color-text-disable: var(--color-gray400);
  --color-text-placeholder: var(--color-gray400);

  --color-text-message-user: var(--color-gray50);

  /* Buttons */
  --color-button-primary-background: var(--color-gray800);
  --color-button-primary-background-hover: var(--color-gray700);
  --color-button-primary-text: var(--color-White);

  --color-button-secondary-border: var(--color-gray400);
  --color-button-secondary-border-hover: var(--color-gray200);
  --color-button-secondary-text-hover: var(--color-gray600);
  --color-button-secondary-text: var(--color-gray800);

  --color-button-disable-background: var(--color-gray200);
  --color-button-disable-text: var(--color-gray400);

  /* Sidebar */
  --color-sidebar-background: var(--color-gray100);
  --color-sidebar-text: var(--color-gray900);

  /* Links */
  --color-link-text: var(--color-gray900);
  --color-link-background-hover: var(--color-gray300);

  /* icons */
  --color-icon-default: var(--color-gray600);
  --color-icon-hover: var(--color-gray800);
  --color-icon-active: var(--color-gray900);
  --color-icon-disable: var(--color-gray400);

  /* Error message */
  --color-background-alert-message: var(--color-red50);
  --color-background-alert-message-hover: var(--color-red100);
  --color-text-alert-message: var(--color-red700);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* General */
    --color-background: var(--color-gray900);
    --color-background-soft: var(--color-gray800);
    --color-background-mute: var(--color-gray700);

    --color-border: var(--color-gray600);
    --color-divider: var(--color-gray600);
    --color-border-hover: var(--color-gray500);

    --color-text: var(--color-gray100);
    --color-text-heading: var(--color-gray300);
    --color-text-disable: var(--color-gray600);
    --color-text-placeholder: var(--color-gray600);

    /* Buttons */
    --color-button-primary-background: var(--color-gray200);
    --color-button-primary-background-hover: var(--color-White);
    --color-button-primary-text: var(--color-gray900);

    --color-button-secondary-border: var(--color-gray600);
    --color-button-secondary-border-hover: var(--color-gray500);
    --color-button-secondary-text: var(--color-gray200);

    --color-button-disable-background: var(--color-gray800);
    --color-button-disable-text: var(--color-gray600);

    /* Sidebar */
    --color-sidebar-background: var(--color-gray800);
    --color-sidebar-text: var(--color-gray100);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
}
